My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recepcion-emails",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c70968ec-f772-453e-8d44-1471c9b9c185",
      "name": "Webhook",
      "webhookId": "f39a681c-dc56-4e75-80e1-73aa5810f12c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.asunto }}",
                    "rightValue": "reclamo",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "2701fa51-f872-4e17-8fbd-9a5a994d9cbe"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "355c74d2-df19-44cc-b2a0-613e2623a34a",
                    "leftValue": "={{ $json.body.asunto }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b22b806c-7a65-4623-8b00-38b3cc23c185",
                    "leftValue": "={{ $json.body.asunto }}",
                    "rightValue": "soporte",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a2255303-e737-4862-b7ea-e4a212b71f0b",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfd1431e-484b-4a22-aaea-2cefa96fcdb4",
              "name": "categoria ",
              "value": "reclamo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -112
      ],
      "id": "abdeea0b-c138-42d3-8529-27f0078b9feb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbe3705f-4677-447a-b2ec-5bb22a33cb7f",
              "name": "categoria ",
              "value": "consulta",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5d5e3520-84ed-475c-9e8e-9d897c4e3836",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfe5debe-ca8d-46a8-85d4-d7fbea6ce75b",
              "name": "consulta",
              "value": "soporte",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        112
      ],
      "id": "93dd7dc0-27cb-4a89-9967-a023a773d4a2",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0e5cf6cd-9a65-4ae3-ba76-2a7726dcad46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5d77ccf12f69e08fb694d419afecbe667b45b486815cfbb90ffe0d675a1a02d"
  },
  "id": "3op4KpZwXh5Kh7GK",
  "tags": []
}